<body>
    <div class="cards">
        <div class="titulo-list-card">
            Lista de Agencias
        </div>
        <div class="list-card">

            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">
                    <div class="encabezado">
                        <div class="nombre">
                            travelnew
                        </div>
                        <div class="estrellas">
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                        </div>
                    </div>

                    <div class="correo">
                        travelnew@gmail.com
                    </div>
                    <div class="descripcion-agency">
                        Somos una agencia destinada al alpinismo para principiantes y personas experimentadas. Contamos
                        con más de 20 años de experiencia en el rubro de alpinismo. Agradecemos tu visita.
                    </div>
                    <div class="datos">
                        <div class="item">
                            <div class="negrita">Ubicacion</div>
                            <p>Maicena, Lima - Peru</p>
                        </div>
                        <div class="item">
                            <div class="negrita">RUC</div>
                            <p>102837465</p>
                        </div>
                        <div class="item">
                            <div class="negrita">Telefono</div>
                            <p>192837465</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">
                    <div class="encabezado">
                        <div class="nombre">
                            travelnew
                        </div>
                        <div class="estrellas">
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                        </div>
                    </div>

                    <div class="correo">
                        travelnew@gmail.com
                    </div>
                    <div class="descripcion-agency">
                        Somos una agencia destinada al alpinismo para principiantes y personas experimentadas. Contamos
                        con más de 20 años de experiencia en el rubro de alpinismo. Agradecemos tu visita.
                    </div>
                    <div class="datos">
                        <div class="item">
                            <div class="negrita">Ubicacion</div>
                            <p>Maicena, Lima - Peru</p>
                        </div>
                        <div class="item">
                            <div class="negrita">RUC</div>
                            <p>102837465</p>
                        </div>
                        <div class="item">
                            <div class="negrita">Telefono</div>
                            <p>192837465</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">
                    <div class="encabezado">
                        <div class="nombre">
                            travelnew
                        </div>
                        <div class="estrellas">
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                        </div>
                    </div>

                    <div class="correo">
                        travelnew@gmail.com
                    </div>
                    <div class="descripcion-agency">
                        Somos una agencia destinada al alpinismo para principiantes y personas experimentadas. Contamos
                        con más de 20 años de experiencia en el rubro de alpinismo. Agradecemos tu visita.
                    </div>
                    <div class="datos">
                        <div class="item">
                            <div class="negrita">Ubicacion</div>
                            <p>Maicena, Lima - Peru</p>
                        </div>
                        <div class="item">
                            <div class="negrita">RUC</div>
                            <p>102837465</p>
                        </div>
                        <div class="item">
                            <div class="negrita">Telefono</div>
                            <p>192837465</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>