<body>
    <div class="cards">
        <div class="titulo-list-card">
            List of Devices
        </div>
        <div class="list-card">
            <div class="card" *ngFor="let card of cards" (click)="onButtonClick()">
                <img class="imagen-card" [src]="card.imageUrl" alt="Card Image">
                <div class="descripcion">
                    <div class="encabezado">
                        <div class="nombre">
                            {{ card.name }}
                        </div>
                    </div>
                    
                    <div class="descripcion-agency">
                        {{ card.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
