
/* Type: CSS  responsive*/

.head-table {
  margin: 30px 0px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head-table button {
  margin: 5px;
}

.title-table {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

table {
  width: 100%;
}

th {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

td button {
  margin: 5px;
}