<body>
    <div class="cards">
        <div class="titulo-list-card">
            Lista de viajes disponibles
        </div>
        <div class="list-card">


            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>

            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>

            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div class="card">
                <img class="imagen-card" src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion">Disfruta de una aventura en la montaña huascarán</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
        </div>
    </div>
</body>