<!--
<div class="login-container">
  <div class="login-content">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
  <div class="login-image">
    <img src="imagenportadalogin.jpg" alt="Imagen de Portada de Inicio de Sesión">
  </div>
</div>
-->
<div class="page-container">
  <section class="register-section">
    <div class="register-section-inside">
      <a href="#" class="brand-header">
        <img
          class="brand-img"
          src="../../../../assets/images/brand-go2climb-light.png"
          alt="logo" />
        Go2Climb
      </a>
      <div class="register-form-section">
        <div class="form-container">
          <h1 class="form-title">Login Here</h1>
          <form
            class="form"
            action="#"
            [formGroup]="loginForm"
            (submit)="onSubmit()">

            <div>
              <label for="email" class="email-input-label"
              >Your email</label
              >
              <input
                type="email"
                name="email"
                id="email"
                class="email-input"
                placeholder="name@company.com"
                formControlName="email"
                required="true" />
            </div>
            <div>
              <label
                for="password"
                class="password-input-label"
              >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                class="password-input"
                required="true" />
            </div>
            <button type="submit" class="submit-button">
              Log In
            </button>

          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="right-side">
    <div class="right-side-info">
      <p class="right-side-content">Comienza a explorar en nuestras experiencias, reserva y publica</p>
      <h1 class="right-side-tittle">Welcome to Go2Climb</h1>
    </div>
  </div>
</div>



