/*
  Travel info styles
*/
.travel-info-page{
  @apply flex flex-col;
}
.data{
  @apply flex flex-col w-full p-4 h-fit;
}
.title{
  @apply text-xl font-medium;
}
.lr-container{
  @apply flex flex-row w-full justify-between;
}
.location{
  @apply flex flex-row items-center;
}
.gallery{
  @apply flex flex-col sm:flex-col md:flex-row lg:flex-row w-full h-[500px];
}
.principal-image-container{
  @apply flex lg:w-3/5 md:w-3/5 sm:w-full md:mr-4 h-full;
}
.secondary-images-container{
  @apply lg:w-2/5 md:w-3/5 sm:w-full grid grid-cols-2 h-[500px] gap-4;
}
.image-sec{
  @apply h-[242px]
}
img{
  @apply h-full w-full object-cover;
}
.additional-info{
  @apply my-2;
}
.agency-owner-img img{
  @apply h-20 w-20 rounded-full object-cover;
}
.created-date{
  @apply flex flex-row items-center;
}
.agency-owner-name{
  @apply flex flex-row items-center text-[16px];
}
.description{
  @apply text-[14px];
}
.created-date{
  @apply text-[14px];
}
.price{
  @apply text-[14px] font-medium;
}
.header{
  @apply flex flex-row items-center justify-between px-7;
}

/*
component list styles
*/
.at-container{
  @apply flex flex-col lg:flex-row md:flex-row sm:flex-col lg:justify-between md:justify-between w-full;
}
.activities-container{
  @apply w-full lg:w-1/2 sm:w-1/2 px-14 ;
}
.activities-frame{
  @apply w-fit border border-gray-300 rounded-3xl shadow drop-shadow-2xl py-8;
}
.tips-container{
  @apply w-full flex lg:w-1/2 md:w-1/2 px-14 justify-center;
}
.tips-frame{
  @apply w-fit border border-gray-300 rounded-3xl shadow drop-shadow-2xl py-8;
}
.activity{
  @apply mt-3
}
.map-container{
  @apply flex justify-center items-center;
}
.map_ {
  height: 500px;
  width: 80%;
  margin: 2.5rem;
}


