<div class="travel-info-page">
  <div class="data">
    <div class="title">Mountain Adventure</div>
    <div class="lr-container">
      <div class="location">
        <mat-icon>location_on</mat-icon>
        <span>Rocky Mountains</span>
      </div>
      <div class="rate">
        <mat-icon *ngFor="let star of getRate()">star</mat-icon>
      </div>
    </div>
    <div class="gallery">
      <div class="principal-image-container">
         <img [src]="travel.photoPortada" alt="portrait gallery">
      </div>
      <div *ngIf="getScreenWidth()>768" class="secondary-images-container">
        <div class="image-sec" *ngFor="let image of getSecondaryImages()">
          <img [src]="image" alt="travel-image">
        </div>
      </div>
    </div>
    <div class="additional-info">
      <div class="agency-owner">
        <div class="agency-owner-img">
          <img src="{{travel.agency.photoUrl}}"  alt="agency-owner-img">
        </div>
        <div class="agency-owner-data">
          <div class="agency-owner-name">
            Provided by: <span class="name">travel.agency.name</span>
          </div>
          <div class="created-date">
            <mat-icon>event</mat-icon>
            <span class="value">12/12/2018</span>
          </div>
        </div>
      </div>
      <div class="description">
        {{travel.description}}
      </div>
      <div class="price">
        ${{travel.price}}.00
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id="map" class="map_"></div>
  </div>
  <div class="at-container">
    <div class="activities-container">
      <div class="activities-frame">
        <div class="header">
          <div >Planned Activities:</div>
          <button mat-raised-button style="background-color: #ace9fd; color: #000000" class="" (click)="openCreateActivityDialog()">Add Activity</button>
        </div>
        <div class="activity" *ngFor="let activity of travel.activities">
          <app-activity [activity]="activity" />
        </div>
      </div>
    </div>
    <div class="tips-container">
      <div class="tips-frame">
        <div class="header">
          <div>Good to Know:</div>
          <button mat-raised-button color="primary" style="background-color: #ace9fd; color: #000000" (click)="openCreateTipDialog()">Nuevo tip</button>
        </div>
        <div class="tip" *ngFor="let tip of travel.tips">
          <app-tip [tip]="tip" />
        </div>
      </div>
    </div>
  </div>
</div>
