<body>
    <div class="cards">
        <div class="titulo">
            Disfruta de una aventura en la montaña El Huascarán
        </div>
        <div class="columna1">
            <div class="lugar columna2">
                <mat-icon class="point">radio_button_checked</mat-icon>
                <div class="lugar-nombre subtitulo">Cuzco, Perú</div>
            </div>
            <div class="estrellas">
                <mat-icon class="estrella">star</mat-icon>
                <mat-icon class="estrella">star</mat-icon>
                <mat-icon class="estrella">star</mat-icon>
                <mat-icon class="estrella">star</mat-icon>
                <mat-icon class="estrella">star</mat-icon>
            </div>
        </div>
        <div class="portada-imagenes">
            <div class="imagen-1">
                <img class="imagen1" src="../../../assets/images/image 1.png" alt="">
            </div>
            <div class="imagenes-2-5">
                <div class="imagenes-2-3 columna-2-imagenes">
                    <img class="imagenes-secundarias primero" src="../../../assets/images/2.png" alt="">
                    <img class="imagenes-secundarias segundo" src="../../../assets/images/image 3.png" alt="">
                </div>
                <div class="imagenes-4-5 columna-2-imagenes">
                    <img class="imagenes-secundarias tercero" src="../../../assets/images/image 4.png" alt="">
                    <img class="imagenes-secundarias cuarto" src="../../../assets/images/image 5.png" alt="">
                </div>
            </div>
        </div>
        <div class="columnas222">
            <div class="columna3">
                <img src="../../../assets/images/logo-agency.png" alt="">
                <div class="descripcion-columna3">
                    <div class="titulo-columna3">
                        <div class="ofrecido">
                            Ofrecido por
                        </div>
                        <div class="negrita">
                            TravelNew
                        </div>
                    </div>
                    <div class="fecha-registro">
                        Agencia registrada desde octubre 2020
                    </div>
                </div>
                <div class="precio">
                    $ 480.00
                </div>
            </div>
            <div></div>
        </div>
        <div class="descripcion-final">
            A través de TravelNew disfruta de una aventura inolvidable, escala por la montaña El Huascarán acompañado de
            un guía en todo momento, ve las mejores vistas y paisajes y sé parte de las pocas personas que lo visiten.
        </div>
    </div>
    <div class="columna_2">

        <div class="izquierda">
            <div class="negrita">Las actividades que realizarás</div>

            <div class="lista_tips">
                <div class="point_container">
                    <mat-icon class="point">radio_button_checked</mat-icon>
                </div>
                <div class="titulo_activite">
                    <div class="negrita_activity">Escalada</div>
                    <div class="descripcion_activity">Con un guía partiremos desde la planta del nevado hasta 100m sobre
                        esta. Con un guía partiremos desde la planta del nevado hasta 100m sobre esta.</div>
                </div>
            </div>
        </div>

        <div class="derecha">
            <div class="negrita">Es bueno saberlo</div>
            <div class="lista_tips">
                <mat-icon class="point">radio_button_checked</mat-icon>
                <div class="titulo_activite">
                    <div class="descripcion_activity">Con un guía partiremos desde la planta del nevado hasta 100m sobre
                        esta. Con un guía partiremos desde la planta del nevado hasta 100m sobre esta.</div>
                </div>
            </div>
        </div>

    </div>
</body>