.register-section{
  @apply bg-gray-50 h-full;
}
.register-section-inside{
  @apply flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0;
}
.brand-header{
  @apply flex items-center mb-6 text-2xl font-semibold text-gray-900;
}
.brand-img{
  @apply w-8 h-8 mr-2;
}
.register-form-section{
  @apply w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0;
}
.form-container{
  @apply p-6 space-y-4 md:space-y-6 sm:p-8;
}
.form-title{
  @apply text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl;
}
.form{
  @apply space-y-4 md:space-y-6;
}
.email-input-label{
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.email-input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5;
}
.password-input-label{
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.password-input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5;
}
.confirm-password-label{
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.confirm-password-input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5;
}
.terms-conditions-acceptance{
  @apply flex items-start;
}
.checkbox-terms-conditions{
  @apply w-4 h-4 border border-gray-300 rounded bg-gray-50;
}
.submit-button{
  @apply w-full text-white bg-primary-600 hover:bg-primary-700  font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}
.have-account-statement{
  @apply text-sm font-light text-gray-500;
}

