<section class="pricing-section">
  <div class="pricing-container">
    <div class="pricing-header">
      <h2 class="pricing-title">Designed for business teams like yours</h2>
      <p class="pricing-slogan">Pricing that Peaks Your Expectations: Climbing Together to New Heights</p>
    </div>
    <div class="pricing-cards-section">
      <app-pricing-card [pricingData]="this.pricingData[0]"></app-pricing-card>
      <app-pricing-card [pricingData]="this.pricingData[1]"></app-pricing-card>
      <app-pricing-card [pricingData]="this.pricingData[2]"></app-pricing-card>

    </div>
  </div>
</section>
