<div class="metrics">
  <div class="temperature">
    <canvasjs-chart [options]="temperatureChartOptions" (chartInstance)="getTemperatureChartInstance($event)"></canvasjs-chart>     
  </div>
  <div class="humidity">
    <canvasjs-chart [options]="humidityChartOptions" (chartInstance)="getHumidityChartInstance($event)"></canvasjs-chart>  
  </div>
  <div class="heath-rate">
    <canvasjs-chart [options]="heartRateChartOptions" (chartInstance)="getHeartRateChartInstance($event)"></canvasjs-chart>  
  </div>
</div>