body{
    padding: 2rem;
    margin: 0;
    background-color: #EDEDED;
    font-family: Arial, sans-serif;
    height: auto;
    line-height: 1.6;
}
.agency-data{
  @apply flex w-full;
}
.header{
  @apply flex lg:flex-row sm:flex-col gap-1 mb-2;
}
.header .agency-profile-photo{
  @apply lg:w-1/4 sm:w-full
}
.header .agency-profile-photo img{
  @apply lg:w-[250px] sm:w-full h-60 lg:rounded-full sm:rounded-3xl object-cover;
}

.data{
  @apply flex flex-col px-3;
}
.data .agency-name{
  @apply text-3xl whitespace-nowrap py-0 my-0 items-center;
}
.data .email{
  @apply text-xl whitespace-nowrap pt-0 mt-0 font-normal;
}
.data .description{
  @apply text-sm pt-3 mt-0 font-normal;
}
.data .contact-info{
  @apply flex flex-col lg:mt-4 sm:mt-0 lg:gap-2 sm:gap-0;
}
.contact-info .location{

}
.contact-info .phone{

}




.list-card-travel{
  @apply grid lg:grid-cols-4 gap-4 sm:grid-cols-1;
}

