<body>
    <div class="cards">
        <div class="agency-data">
          <div class="header">
            <div class="agency-profile-photo">
              <img [src]="agency.photoUrl" alt="logo agency">
            </div>
            <div  class="data">
              <div class="agency-name">
               {{agency.name}}
              </div>
              <div class="email">
                {{agency.email}}
              </div>
              <div class="description">
                <!--{{agency.description}}-->
                En Summit Seekers, nos apasiona llevar la aventura al límite. Somos mucho más que una agencia de viajes; somos tus compañeros de ascenso en la búsqueda de la grandeza en las cumbres más desafiantes del mundo.
              </div>
              <div class="ruc">
                Our Ruc: <b>{{agency.ruc}}</b>
              </div>
              <div class="contact-info">
                <div class="location">
                  We are located on: <b> {{agency.location}}</b>
                </div>
                <div class="phone">
                  Our phone contact: <b> {{agency.numberPhone}}</b>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="cards-travel">
            <div class="titulo-btnAdd">
                <div class="titulo-list-card-travel">
                    Lista de viajes disponibles
                </div>
                <button mat-raised-button color="primary"
                    style="background-color: #ace9fd; color: #000000; font-size: 14px;"
                    (click)="openCreateTravelDialog()">Nuevo viaje</button>
            </div>

            <div class="list-card-travel">

                <div class="card-travel" *ngFor="let travel of agency.travels">
                    <div class="" (click)="seeDetails(travel.id)">

                          <app-travel-card [travel]="travel" (deleted)="reloadAgency($event)"></app-travel-card>

                    </div>
                </div>

            </div>
        </div>


    </div>


</body>
