<body>
    <div class="titulo center">
        Nuevo viaje
    </div>

    <div class="inputs_">

        <!-- Nombre del viaje -->
    <mat-form-field class="example-full-width">
        <mat-label>Nombre del viaje</mat-label>
        <input matInput maxlength="75" required>
    </mat-form-field>

    <div class=""></div>

    <!-- Logo del viaje -->
    <mat-form-field class="example-full-width">
        <mat-label>Logo del viaje</mat-label>
        <input matInput required>
    </mat-form-field>

    <!-- Descripción del viaje -->
    <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput maxlength="1000"></textarea>
    </mat-form-field>

    <div class=""></div>

    <!-- Estrellas -->
    <mat-form-field class="example-full-width">
        <mat-label>Estrellas</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <!-- Precio -->
    <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <div class=""></div>

    <!-- Ubicación -->
    <mat-form-field class="example-full-width">
        <mat-label>Ubicación</mat-label>
        <input matInput maxlength="100" required>
    </mat-form-field>

    <!-- Foto de portada -->
    <mat-form-field class="example-full-width">
        <mat-label>Foto de portada</mat-label>
        <input matInput required>
    </mat-form-field>

    <div class=""></div>

    <!-- Fotos adicionales -->
    <mat-form-field class="example-full-width">
        <mat-label>Foto 1</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Foto 2</mat-label>
        <input matInput required>
    </mat-form-field>

    <div class=""></div>

    <mat-form-field class="example-full-width">
        <mat-label>Foto 3</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Foto 4</mat-label>
        <input matInput required>
    </mat-form-field>

    <div class=""></div>

    <!-- Fecha de creación -->
    <mat-form-field class="example-full-width">
        <mat-label>Fecha de creación</mat-label>
        <input matInput type="date">
    </mat-form-field>

    </div>

    <div class="center">
        <button mat-raised-button color="primary" style="background-color: #ace9fd; color: #000000" >Guardar viaje</button>
    </div>
    
</body>
